<!-- Header -->

<div class = "container">
    <div class="logo col-sm-6 col-xs-12"><a href="FED.html"><img src="assets\img\logo.png"></a></div>
    <div class="logo col-sm-6 col-xs-6 navigation">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        
        <ul class="nav navbar-nav" >          
          <li *ngFor="let menu of menuItems;"><a *ngIf="menu.showIcon" href="FED.html" >{{menu.title}}<i [class]="menu.cssClass" style="font-size:14px;color:blue;"></i></a></li>
          <li><a>Cart<i class = "fa fa-shopping-cart" style="font-size:14px;color:blue;">{{messageFromSibling}} </i></a></li>
        </ul>       
        
      </div>
    </nav>    
    </div>
    <div class = "twowaybindinput col-sm-12 col-xs-12">
      <input type="text"  name="twowaybindinput" [(ngModel)] = 'twoWayBindingValue'>
    </div>  
    <div class = "twowaybindoutput col-sm-12 col-xs-12">
      <label type="text"  name="twowaybindoutput" >{{twoWayBindingValue}}</label>
    </div>                 
    </div>
    
    <!-- Header -->